user-card::part(card) {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
user-card::part(img) {
  width: 50px;
  border-radius: 50%;
}
